/* Styles each swiper slide */
.swiper-slide {
  display: flex !important;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Image styling */
.swiper-slide-div-img {
  flex: 1 1 200px;
  max-width: 500px;
}

.swiper-slide-img {
  object-fit: contain;
  border-radius: 5px;
  width: 100%;
}

.swiper-group-text {
  flex: 1 1 400px;
  border: 2px solid pink;
}