/* using BEM CSS */

@font-face {
    font-family: "Outfit";
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}


/* css variables */
:root {
    /* colour variables */

    /*light purple*/
    --purple-100: #852FA4;

    /*dark purple used as bg colour*/
    --black-100: #070713;

    --grey-600: #141221;
    --grey-100: #898989;

    /* font size variables */
    --font-sm: 1rem;
    --font-lg: clamp(2rem, 2vw + 0.5rem, 40px);

    /* inline paddings */
    --padding-inline-sm: 1rem;
    --padding-inline-md: max(10vw, 90px);
    --padding-inline-lg: max(25vw, 100px);

    /* block paddings */
    --padding-block-sm: 1rem;
}


* {
    font-family: Outfit, sans-serif;
    /* overwrite css defaults for all elements */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-weight: 400;
    color: white;
    font-size: 1rem;
}

/* avoid nested css media queries to ensure browser compatibility */
@media (prefers-reduced-motion) {
    * {
        scroll-behavior: auto;
    }
}

body {
    background-color: var(--black-100);
}

/* navbar styles */
.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-inline: var(--padding-inline-sm);
    top: 0;
    z-index: 100;
}

.navbar__logo {
    aspect-ratio: 0.9;
    width: 90px;
}

.navbar__button {
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 0.3rem 1rem;
    text-decoration: none;
}

/* hero section styles */
.hero-section {
    position: relative;
    text-align: center;
}

.hero-section__heading-title {
    color: transparent;

    font-size: clamp(2rem, 3vw + 1rem, 60px);

    background: var(--purple-100) -webkit-gradient(linear, left top, right top, from(var(--purple-100)), to(var(--purple-100)), color-stop(0.5, #fff)) 0 0 no-repeat;

    background-size: 100px;
    -webkit-background-size: 100px;

    background-clip: text;
    -webkit-background-clip: text;

    animation-name: shine;
    -webkit-animation-name: shine;

    animation-duration: 7s;
    -webkit-animation-duration: 7s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}


@keyframes shine {

    0%,
    10% {
        background-position: -1000px;
    }

    20% {
        background-position: top left;
    }

    90% {
        background-position: top right;
    }

    100% {
        background-position: 1000px;
    }
}

.hero-section__heading-subtitle {
    font-size: clamp(2.5rem, 3vw + 1.5rem, 75px);
    font-weight: 500;
}

.hero-section__text {
    font-size: clamp(1rem, 1vw + 0.5rem, 25px);
    padding-block: 0.5rem;
    padding-inline: var(--padding-inline-lg);
}

.hero-section__image-wrapper {
    background-color: var(--black-100);
    background-image: url("assets/images/starBg-removebg-preview.png");
    position: relative;
    top: -40px;
    z-index: -1;
}

.hero-section__image {
    aspect-ratio: 2/1;
    margin-block: 40px;
    object-fit: cover;
    width: 75%;
}

.hero-section__shape-divider {
    bottom: 0;
    left: 0;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    transform: rotate(180deg);
    width: 100%;
    z-index: 1;
}

.hero-section__shape-svg {
    display: block;
    height: 150px;
    position: relative;
    width: calc(100% + 1.3px);
}

.hero-section__shape-fill {
    fill: var(--black-100);
}

/* small devices like phones */
@media only screen and (max-width: 600px) {
    .hero-section__text {
        padding-inline: 0.7rem;
    }

    .hero-section__image {
        width: 100%;
    }

}

.section {
    padding-inline: var(--padding-inline-md);
    padding-block: var(--padding-block-sm);

    /* phones and small devices */
    @media screen and (max-width: 600px) {
        padding-inline: 1.5rem;
    }

}

.section__heading {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, white, var(--purple-100));
    color: transparent;
    font-size: var(--font-lg);
    font-weight: 400;
    padding-bottom: 1rem;
}

.about-section {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: clamp(3rem, 5vw, 100px);
    justify-content: center;
    position: relative;
}

.about-section__content {
    flex: 1 1 400px;
}

.about-section__image-wrapper {
    flex: 0 1 300px;
}

.about-section__image {
    aspect-ratio: 1;
    object-fit: cover;
    width: 100%;
}

/* stream section of the site */
.stream-section {
    text-align: center;
}

.stream-section__grid {
    container-type: inline-size;
    display: grid;
    gap: 2.5rem;
    grid-auto-flow: dense;
    grid-auto-rows: auto 140px auto 25px;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 320px), 0.7fr));
    margin-block: 1rem;
    place-content: center;
    text-align: left;
}

.stream-section__card {
    display: grid;
    grid-row: span 4;
    grid-template-rows: subgrid;
}

.stream-section__card-data {
    background: var(--grey-600);
    border-radius: 10px;
    display: grid;
    gap: 0.7rem;
    grid-row: span 4;
    grid-template-rows: subgrid;
    padding: 1.5rem 1rem;
}

.stream-section__card-image {
    aspect-ratio: 1;
    border-radius: 10px;
    max-height: 160px;
    object-fit: cover;
    width: 100%;
}

.stream-section__card-head {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: end;
    left: 10%;
    position: relative;
    top: 100%;
}

.stream-section__card-head-name {
    color: var(--grey-100);
    font-size: 0.9rem;
    text-align: right;
}

.stream-section__card-head-image {
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    object-position: 0% 80%;
    width: 45px;
}

/* steps section styles */
.steps-section {
    border-block: 2px solid var(--purple-100);
    text-align: center;
}

.steps-section__step-number {
    color: var(--purple-100);
    font-size: 1.5rem;
}

.steps-section__content {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(1rem, 6vw + 0.3rem, 10rem);
    justify-content: center;
}

.steps-section__step {
    flex: 0 1 200px;
}

.steps-section__footer {
    display: flex;
    font-weight: 400;
    gap: 10px;
    justify-content: center;
    margin-block: 2rem 0.5rem;
    text-shadow: 0px 2px 10px var(--purple-100);
}

.steps-section__star-icon {
    filter: drop-shadow(1px 1px var(--purple-100));
    position: relative;
}

.steps-section__star-icon--2 {
    left: -5px;
    top: -20px;
}

.steps-section__star-icon--3 {
    left: -10px;
}

@media screen and (max-width: 665px) {
    .steps-section__star-icon--1 {
        left: -40%;
        top: -10%;
    }

    .steps-section__star-icon--2 {
        display: none;
    }
}

/* medium devices e.g some landscape tablets */
@media screen and (max-width: 910px) {
    .steps-section__star-icon--3 {
        left: 20%;
        top: -40%;
    }
}

.footer {
    padding-inline: max(3vw, 2rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-block: 1rem;
}

.footer__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer__description {
    flex: 0 1 500px;
    color: var(--grey-100);
}

.footer__divider, .footer__copyright {
    color: var(--grey-100);
}

.footer__links {
    display: flex;
    gap: 1rem;
}